:root {
    --transition: all, 0.3s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
}

body {
    background-color: #bcffaf;
}

html {
    scroll-behavior: smooth;
}
.solid {
    width: 80%;
    height: 1px;
    background-color: #3bff21;
}

.social-media,
a {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    color: rgb(81, 182, 3);;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    font-size: 1.5rem;

    &:hover {
        opacity: 100;
    }
}

.btn {
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
    outline: none;
    border-radius: 8px;
    background: rgb(82, 195, 3);
}

.secondary__btn {
    text-align: center;
    width: fit-content;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

nav {
    background-color: #389b25;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color, var(--transition);
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    justify-content: space-between;

}

.nav__link {
    color: #fff;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:active {
    color: #ff0000;
}

.search__btn{
    background-color: #8aff72;
    color: #fff;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5rem;
    transition: var(--transition);
    outline: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
}
.search__btn:hover{
    background-color: #10d406;
}

.search__input{
    padding: 10px 20px;
    background-color: #bcffaf;
    color: #389b25;
    border: none;
    border-radius: 5rem;
    transition: var(--transition);
    outline: none;
    font-size: 18px;
    font-weight: 600;
}

.search__input:hover{
   outline: 1px solid #2ed405;
}

.hero__container {
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #fff;
    transition: var(--transition);
    width: 70%;

}

.hero__title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

.hero__sub-title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
}

.hero__desc {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

main {
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


/* ========= Menu ========= */
.menu__context {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu__title {
    font-weight: 500;
    font-size: 24px; 
    margin-bottom: 20px;
}

.menu__sub-title {
    width: 580px;
    font-weight: 700;
    font-size: 48px;
    color: rgb(16, 16, 16);
    margin-bottom: 20px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover {
    background-color: #bcffaf;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: var(--transition);
}

.card, img{
    border-radius: 20px;
}
.card__context {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: center;
}

.card__title {
    font-weight: 600;
    font-size: 40px;
    align-items: center;
}

.card__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
/* ========== About Section ============ */
.about__container{
    display: flex;
    align-items: center;
}
.about__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    text-align: center;
    gap: 1rem;
}
.about__title{
    font-size: 48px;
    font-weight: 700;
}
.about__desc{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

/* ======== Footer ======= */

footer {
    background-image: url('assets/social-bg.png');
    height: 25rem;
    /* opacity: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(206, 216, 209);
    text-align: center;
    gap: .8rem;
    /* opacity: calc(100); */
}

.footer h2 {
    color: rgb(245, 250, 244);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
}

.footer__desc {
    color: rgb(241, 248, 240);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
